{% extends 'basefrontJulia.html.twig' %}

{% block title %}ReservationGuide{% endblock %}

{% block body %}
    <h1>ReservationGuide</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation_guide.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ reservation_guide.user }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ reservation_guide.dateDebut ? reservation_guide.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ reservation_guide.dateFin ? reservation_guide.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Guidetouristique</th>
                <td>{{ reservation_guide.guidetouristique }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_guide_index') }}">back to list</a>

    <a href="{{ path('reservation_guide_edit', {'id': reservation_guide.id}) }}">edit</a>

    {{ include('reservation_guide/_delete_form.html.twig') }}
{% endblock %}
