{% extends 'base.html.twig' %}

{% block title %}Disponibilite{% endblock %}

{% block body %}
    <h1>Disponibilite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disponibilite.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ disponibilite.date ? disponibilite.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>De</th>
                <td>{{ disponibilite.de ? disponibilite.de|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>A</th>
                <td>{{ disponibilite.a ? disponibilite.a|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('disponibilite_index') }}">back to list</a>

    <a href="{{ path('disponibilite_edit', {'id': disponibilite.id}) }}">edit</a>

    {{ include('disponibilite/_delete_form.html.twig') }}
{% endblock %}
