{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Liste D'utilisateurs</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Numéro de telephone</th>
                            <th>Roles</th>
                            <th>Date de naissance</th>
                            <th>Pays</th>
                            <th>Etat</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Numéro de telephone</th>
                            <th>Roles</th>
                            <th>Date de naissance</th>
                            <th>Pays</th>
                            <th>Etat</th>
                            <th>actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for utilisateur in utilisateurs %}
                            <tr>
                                <td>{{ utilisateur.id }}</td>
                                <td>{{ utilisateur.nom }}</td>
                                <td>{{ utilisateur.prenom }}</td>
                                <td>{{ utilisateur.email }}</td>
                                <td>{{ utilisateur.numtel }}</td>
                                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                                <td>{{ utilisateur.datenaissance ? utilisateur.datenaissance|date('Y-m-d') : '' }}</td>
                                <td>{{ utilisateur.pays }}</td>
                                <td>{{ utilisateur.isVerified ? 'Verifié' : 'Non verifié' }}</td>
                                <td>
                                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('utilisateur_new') }}">Create new</a>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

