{% extends 'front.html.twig' %}

{% block title %}Utilisateur{% endblock %}

      {% block style %}
          <style>
              body.homepage #header {
                  height: 50px;
                  min-height: 50px;
              }
              form textarea {
                  border: none !important;
              }
          </style>
      {% endblock %}
{% block header %}
    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>

            </header>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="{{ path('guide_index') }}">Guides</a></li>
                <li><a href="{{ path('maison_index') }}">Locations</a></li>
                <li><a href="/even/approuve/listeEvent">Evenements</a></li>


                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>

                            {% endif %}
                            <li><a class="dropdown-item" href="/utilisateur/{{ app.user.id }}">Profile</a></li>

                            {% if is_granted('ROLE_GUIDE') %}
                                <li><a class="dropdown-item" href="/disponibilite">Disponibilité</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="/guide/new">Devenir Guide</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_PROP') %}
                                <li><a class="dropdown-item" href="{{ path('maison_index_user') }}">Mes Locations</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="prop/maison/new">Devenir Prop Maison</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
{% endblock %}
{% block body %}
    {% set isGuide = false %}
    {% set isProp = false %}

    {% for role in utilisateur.roles  %}
        {% if role == "ROLE_GUIDE" %}
            {% set isGuide = true %}
        {% elseif role == "ROLE_PROP" %}
            {% set isProp = true %}
        {% endif %}
    {% endfor %}
    <div class="container">
        <div class="main-body mt-5">

            <!-- Breadcrumb -->

            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ asset('uploads/') }}{{ utilisateur.image }}" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3 ">
                                    <h4>{{ utilisateur.nom }} {{ utilisateur.prenom }}</h4>
                                    <p class="text-secondary mb-1 text-center">
                                        {% for role in utilisateur.roles  %}
                                            {% if role == "ROLE_ADMIN" %}
                                                Administrateur,
                                            {% elseif role == "ROLE_GUIDE" %}
                                                Guide touristique,
                                            {% elseif role == "ROLE_USER" %}
                                                Membre

                                            {% endif %}
                                        {% endfor %}</p>
                                    <p class="text-muted font-size-sm text-center">{{ utilisateur.pays }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% if is_granted('ROLE_GUIDE') %}
                        <div class="card mt-3">
                            <h6 class="text-center text-primary pt-3">
                                A propos de moi
                            </h6>
                            {{ form_start(formapropos) }}
                            {{ form_widget(formapropos) }}
                            <button class="btn btn-light float-right">{{ button_label|default('Save') }}</button>
                            {{ form_end(formapropos) }}
                        </div>
                    {% endif %}
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather mr-2 icon-inline ">><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>LinkedIn</h6>
                                <span class="text-secondary">{% if utilisateur.linkedin == null %}
                                    <span data-toggle="modal" data-target="#exampleModalLinkedAdd" class="text-secondary">Ajouter</span>
                                        {% else %}
                                        <span data-toggle="modal" data-target="#exampleModalLinkedAdd" class="text-secondary">Modifier</span>
                                    {% endif %}
                                </span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                <span class="text-secondary">{% if utilisateur.instagram == null %}
                                    <span data-toggle="modal" data-target="#exampleModalInstaAdd" class="text-secondary">Ajouter</span>
                                        {% else %}
                                        <span data-toggle="modal" data-target="#exampleModalInstaAdd" class="text-secondary">Modifier</span>
                                    {% endif %}
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                <span class="text-secondary">{% if utilisateur.facebook == null %}
                                    <span data-toggle="modal" data-target="#exampleModalFacebookAdd" class="text-secondary">Ajouter</span>
                                        {% else %}
                                        <span data-toggle="modal" data-target="#exampleModalFacebookAdd" class="text-secondary">Modifier</span>
                                    {% endif %}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h1 class="text-primary">
                                Mes informations
                                <a class="float-right" href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}"> <i class="fas fa-edit"></i> Editer</a>

                            </h1>
                        </div>
                        <div class="card-body">

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ utilisateur.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Prenom</th>
                                    <td>{{ utilisateur.prenom }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ utilisateur.email }}</td>
                                </tr>
                                <tr>
                                    <th>Datenaissance</th>
                                    <td>{{ utilisateur.datenaissance ? utilisateur.datenaissance|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Numtel</th>
                                    <td>{{ utilisateur.numtel }}</td>
                                </tr>
                                <tr>
                                    <th>Pays</th>
                                    <td>{{ utilisateur.pays }}</td>
                                </tr>
                                <tr>
                                    <th>Supprimer mon compte definitifement</th>
                                    <td>  {{ include('utilisateur/_delete_form.html.twig') }}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Mes Maisons</i></h6>
                                    {% if isProp %}

                                    {% else%}
                                        <p>Vous n'etes pas un proprietaire de maison pour devenir un merci de remplir
                                            <a href="/prop/maison/new" class="text-info">ce formulaire.</a>
                                        </p>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Mes demandes se guides</i></h6>
                                    {% if isGuide %}

                                    {% else%}
                                        <p>Vous n'etes pas un guide pour devenir un guide merci de remplir
                                            <a href="/guide/new" class="text-info">ce formulaire.</a>
                                        </p>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>


    <div class="modal fade" id="exampleModalFacebookAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter le lien vers votre facebook</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(formfacebook) }}
                <div class="modal-body">

                    {{ form_widget(formfacebook) }}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn">{{ button_label|default('Save') }}</button>
                </div>
                {{ form_end(formfacebook) }}
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalLinkedAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter le lien vers votre Linkedin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(formlinkedin) }}
                <div class="modal-body">

                    {{ form_widget(formlinkedin) }}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn">{{ button_label|default('Save') }}</button>
                </div>
                {{ form_end(formlinkedin) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalInstaAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter le lien vers votre instagram</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(forminstagram) }}
                <div class="modal-body">

                    {{ form_widget(forminstagram) }}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn">{{ button_label|default('Save') }}</button>
                </div>
                {{ form_end(forminstagram) }}
            </div>
        </div>
    </div>

{% endblock %}
