{% extends 'base.html.twig' %}

{% block title %}PropMaison index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Liste D'utilisateurs</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cin</th>
                            <th>ImgCinFront</th>
                            <th>ImgCinBack</th>
                            <th>VerifPhoto</th>
                            <th>Etat</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Cin</th>
                            <th>ImgCinFront</th>
                            <th>ImgCinBack</th>
                            <th>VerifPhoto</th>
                            <th>Etat</th>
                            <th>actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for prop_maison in prop_maisons %}
                            <tr>
                                <td>{{ prop_maison.id }}</td>
                                <td>{{ prop_maison.cin }}</td>
                                <td>{{ prop_maison.imgCinFront }}</td>
                                <td>{{ prop_maison.imgCinBack }}</td>
                                <td>{{ prop_maison.verifPhoto }}</td>
                                <td>{{ prop_maison.etat ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a href="{{ path('prop_maison_show', {'id': prop_maison.id}) }}">show</a>
                                    <a href="{{ path('prop_maison_edit', {'id': prop_maison.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('prop_maison_new') }}">Create new</a>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

