{% extends 'baseAziz.html.twig' %}

{% block title %}Maison index{% endblock %}

{% block body %}
    <head>
        <meta charset="UTF-8" />
        <!-- style CSS -->
        <link rel="stylesheet" href="{{ asset('theme/css/style.css') }}" >
        <style>
            body {
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                line-height: 1.42em;
                color:#A7A1AE;
                background-color:#1F2739;
            }

            .popUpUpdateClass{
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
            .popupContent{
                background-color: #fefefe;
                margin: 15% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Could be more or less, depending on screen size */
            }
            #sidebar{
                height: 100vh;

            }
            .page-content{
                margin-left: 25%;
            }
        </style>
    </head>
    <body>
        {% for message in app.flashes('message') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="page-wrapper">
            <nav id="sidebar" class="sidebar w-25 float-left pt-5 pl-2">

                <div class="select_option">
                    <div class="select_option_list" style="width: 350px; margin-bottom: 2rem;">Lieux <i class="float-right fas fa-caret-down"></i></div>
                    {% for lieu in lieux  %}
                        <div class="select_option_dropdown">
                            <p><a href="{{ path('maisonLieu', {'id':lieu.id}) }}">{{ lieu.lieu }}</a></p>
                        </div>
                    {% endfor %}
                    <div>
                        <input type="text" id="search" class="form-control" placeholder="Search">
                    </div>




                    <br>

                    <!-- start: page -->
                    {% if is_granted('ROLE_PROP') %}
                    <center><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" style="margin-bottom: 30px">Ajouter Une location</button></center>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog " style="max-width:660px" role="document">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ajouter Une location</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                   <div class="mt-1">
                                       {{ include('maison/_form.html.twig') }}
                                   </div>


                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {{ knp_pagination_render(maisons) }}
                </div>
            </nav>
            <div class="page-content w-75">
                <h1 style="font-weight: bold;
                                font-size: 2.5em;
                                text-align: center;
                                color: #185875;
                                margin-top: 30px;">List des Locations</h1>


                <div id="all">
                    {% include 'maison/ajax.html.twig' %}
                </div>

                <div class="row" id="search"></div>
            </div>
        </div>




                            <script src="{{ asset('theme/js/jquery.js') }}"></script>
                            <script
                                    src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}">
                            </script>
                            <script>
                                $( document ).ready(function() {
                                    var currentRequest = null;
                                    $("#search").keyup(function(e){
                                        /* La variable value va prendre la valeur insérer dans le champ de texte
                                        afin d’effectuer la recherche */
                                        var value = $(this).val();
                                        if(currentRequest != null) {
                                            currentRequest.abort();
                                        }

                                        /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                                        « search » pour faire la recherche */
                                        currentRequest = $.ajax({

                                            url : "{{ path('ajaxsearch') }}",
                                            type : 'GET',
                                            data: {
                                                'searchValue' : value
                                            },

                                            success : function(retour)
                                            {
                                                $('#all').html(retour);

                                            },
                                        });
                                        return false;
                                    });
                                });
                            </script>


                            <script>
                                function required()
                                {
                                    var empt = document.form1.min.value;
                                    var empt1 = document.form1.max.value;
                                    if (empt === "")
                                    {
                                        document.form1.min.value=0;
                                        return false;
                                    }
                                    if (empt1 === "")
                                    {
                                        document.form1.max.value=99999;
                                        return false;
                                    }

                                }
                            </script>
                            <script src="{{ asset('theme/js/jquery-1.12.1.min.js') }}"></script>
                            <!-- popper js -->
                            <script src="{{ asset('theme/js/popper.min.js') }}" ></script>
                            <!-- bootstrap js -->
                            <script src="{{ asset('theme/js/bootstrap.min.js') }}" ></script>
                            <!-- magnific popup js -->
                            <script src="{{ asset('theme/js/jquery.magnific-popup.js') }}" ></script>
                            <!-- carousel js -->
                            <script src="{{ asset('theme/js/owl.carousel.min.js') }}" ></script>
                            <script src="{{ asset('theme/js/jquery.nice-select.min.js') }}" ></script>
                            <!-- slick js -->
                            <script src="{{ asset('theme/js/slick.min.js') }}" ></script>
                            <script src="{{ asset('theme/js/jquery.counterup.min.js') }}" ></script>
                            <script src="{{ asset('theme/js/waypoints.min.js') }}" ></script>
                            <script src="{{ asset('theme/js/contact.js') }}" ></script>
                            <script src="{{ asset('theme/js/jquery.ajaxchimp.min.js') }}" ></script>
                            <script src="{{ asset('theme/js/jquery.form.js') }}" ></script>
                            <script src="{{ asset('theme/js/jquery.validate.min.js') }}" ></script>
                            <script src="{{ asset('theme/js/mail-script.js') }}" ></script>
                            <!-- custom js -->
                            <script src="{{ asset('theme/js/custom.js') }}" ></script>

    </body>
{% endblock %}

