{% extends 'backSyrine.html.twig' %}

{% block title %}AvisEvenement{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Avis</h6>
        </div>
        <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avis_evenement.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ avis_evenement.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('avis_evenement_index') }}">back to list</a>

    <a href="{{ path('avis_evenement_edit', {'id': avis_evenement.id}) }}">edit</a>

    {{ include('avis_evenement/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
