<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>{% block title %}Front BIOS{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('themeFrontEnd/assets/css/main.css')}}" >
    <noscript><link rel="stylesheet" href="{{ asset('themeFrontEnd/assets/css/noscript.css')}}" /></noscript>
    {% endblock %}
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Inner -->
            <div class="inner">
                <header>
                    <h1><a href="index.html" id="logo">BIOS</a></h1>
                    <hr />
                </header>
                <footer>
                    <a href="#banner" class="button circled scrolly">Start</a>
                </footer>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="">Reservation</a>
                        <ul>
                            <li><a href="">Reservation Guide</a></li>
                            <li><a href="">Reservation Maison</a></li>
{#                            <li><a href="#">Magna phasellus</a></li>#}
{#                            <li><a href="#">Etiam dolore nisl</a></li>#}
{#                            <li>#}
{#                                <a href="#">And a submenu &hellip;</a>#}
{#                                <ul>#}
{#                                    <li><a href="#">Lorem ipsum dolor</a></li>#}
{#                                    <li><a href="#">Phasellus consequat</a></li>#}
{#                                    <li><a href="#">Magna phasellus</a></li>#}
{#                                    <li><a href="#">Etiam dolore nisl</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li><a href="#">Veroeros feugiat</a></li>#}
                        </ul>
                    </li>
{#                    <li><a href="">Reservation</a></li>#}
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                </ul>
            </nav>

        </div>
        <div class="container special" id="main">
            {% block body %}{% endblock %}
        </div>


    </div>
{% block javascripts %}
<!-- Scripts -->
<script src="{{ asset('themeFrontEnd/assets/js/jquery.min.js')}}"></script>
<script src="{{ asset('themeFrontEnd/assets/js/jquery.dropotron.min.js')}}"></script>
<script src="{{ asset('themeFrontEnd/assets/js/jquery.scrolly.min.js')}}"></script>
<script src="{{ asset('themeFrontEnd/assets/js/jquery.scrollex.min.js')}}"></script>
<script src="{{ asset('themeFrontEnd/assets/js/browser.min.js')}}"></script>
<script src="{{ asset('themeFrontEnd/assets/js/breakpoints.min.js')}}"></script>
<script src="{{ asset('themeFrontEnd/assets/js/util.js')}}"></script>
<script src="{{ asset('themeFrontEnd/assets/js/main.js')}}"></script>
{% endblock %}

</body>
</html>