<head>
    <style>
        table{
            margin:auto;
        }
        th {
            text-align :right;
        }
    </style>
</head>
<div>
<center>
    <h1>Laison à louer</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ maison.id }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ maison.prix }}</td>
        </tr>
        <tr>
            <th>Nsm</th>
            <td>{{ maison.nsm }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ maison.adresse }}</td>
        </tr>
        <tr>
            <th>Check_in</th>
            <td>{{ maison.checkIn }}</td>
        </tr>
        <tr>
            <th>Check_out</th>
            <td>{{ maison.checkOut }}</td>
        </tr>
        <tr>
            <th>Piscine</th>
            <td>{{ maison.piscine }}</td>
        </tr>
        <tr>
            <th>Bedrooms</th>
            <td>{{ maison.Bedrooms }}</td>
        </tr>
        <tr>
            <th>Bathrooms</th>
            <td>{{ maison.bathrooms }}</td>
        </tr>
        <tr>
            <th>Maxppl</th>
            <td>{{ maison.maxppl }}</td>
        </tr>
        <tr>
            <th>Smoke</th>
            <td>{{ maison.smoke }}</td>
        </tr>
        <tr>
            <th>Pet</th>
            <td>{{ maison.pet }}</td>
        <tr>
            <th>Description</th>
            <td>{{ maison.description }}</td>
        </tr>
        <tr>
            <th>Numéro de téléphone</th>
            <td>{{ maison.phone }}</td>
        </tr>

        </tbody>
    </table>

    <h2>Pour plus d'informations, visitez notre site</h2><h1>BIOSTravel.tn</h1>
    <img src="qr-code/default/BIOSTravel.tn"/>

</center>
</div>