{% extends 'basefront.html.twig' %}

{% block title %}ReservationMaison index{% endblock %}

{% block body %}
    <h1>ReservationMaison index</h1>

    {% for message in app.flashes('message') %}
        <div style="background-color: #1b9448;color: #ffffff; text-align: center" class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post" action="{{ path('reservation_maison_trier') }}">
        <select name="choix">
            <option value="dateDebut">Date début</option>
            <option value="dateFin">Date fin</option>
        </select>
        <input type="submit" value="Valider">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Proprietaire</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Maisonalouer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_maison in reservation_maisons %}
            <tr>
                <td>{{ reservation_maison.id }}</td>
                <td>{{ reservation_maison.user }}</td>
                <td>{{ reservation_maison.proprietaire }}</td>
                <td>{{ reservation_maison.dateDebut ? reservation_maison.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_maison.dateFin ? reservation_maison.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_maison.maisonalouer }}</td>
                <td>
                    <a href="{{ path('reservation_maison_show', {'id': reservation_maison.id}) }}">show</a>
                    <a href="{{ path('reservation_maison_edit', {'id': reservation_maison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        {{ knp_pagination_render(reservation_maisons) }}
    </table>

    <a href="{{ path('reservation_maison_new') }}">Create new</a>
{% endblock %}
